<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CC</display-name>
<servlet>
<servlet-name>Sev</servlet-name>
<servlet-class>Sev.Sev</servlet-class>

</servlet>
<servlet-mapping>

<servlet-name>Sev</servlet-name>
<url-pattern>/abdi</url-pattern>
</servlet-mapping>



</web-app>